html {
  scroll-behavior: auto;
}

body {
    cursor: url('arrow.png'), auto;
}

a, button {
    cursor: url('hand.png') 16 0, pointer;
}

/* GENERAL */
body {
    background: #000;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
}


/* NAVBAR */
.navbar {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #69D9FF;
    padding: 10px 50px;
    border-radius: 50px;
    width: fit-content;
    z-index: 9999;
}

.navbar .nav-link {
    color: black;
    font-weight: 600;
    padding: 0 25px;
    font-size: 16px;
}

.navbar .nav-link:hover {
    color: white;
}


/* HERO SECTION */
.hero {
    position: relative;
    min-height: 100vh;
    padding: 160px 0 60px;
}

.hero-text-title {
    max-width: 1100px;
    margin: 90px auto 0;  
    padding: 10px 40px;
    position: relative;
    z-index: 5;
}

.hero-text {
    text-align: center;
    position: relative;
}


/* intro */
.intro {
    font-size: 22px;
    margin-bottom: 8px;
    color: #e8f1f4;
    font-weight: 400;
    margin-top: 80px;
}


/* Communication text */
.communication {
    font-family: 'Comic Neue', cursive;
    font-size: 110px;
    margin: 0;
    color: black; 
    text-shadow:
        -2px -2px 0 #ffffff,
         2px -2px 0 #ffffff,
        -2px  2px 0 #ffffff,
         2px  2px 0 #ffffff;
         margin-bottom: -40px;
}


/* DESIGNER text */
.designer {
    font-size: 170px;
    font-weight: 800;
    color: #69D9FF;
    line-height: 0.85;
    margin: -28px 0 18px;
    display: block;
    letter-spacing: 2px;
}


/* Horizontal Line */
.line {
    width: 85%;
  max-width: 1080px;
  height: 6px;
  background: #69D9FF;
  margin: 14px auto 0;

  transform: scaleX(0);
  transform-origin: center;
  animation: expandCenter 1.2s ease-out forwards;
}

@keyframes expandCenter {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}


/* Girl Illustration */
.hero-illustration {
    position: absolute;
    right: 80px;
    top: 50px;
    width: 280px;
    height: auto;
}


/* ABOUT SECTION */
.about-section {
    justify-content: center; 
    display: flex;
    padding: 90px 60px;
    gap: 50px;  
}

.about-photo {
    width: 300px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #69D9FF 0%, #000000 80%);
    padding: 12px; padding-bottom: 0%;
}

.about-heading {
    font-family: 'Comic Neue', cursive;
    font-size: 80px;
    color: black; 
    text-shadow:
        -2px -2px 0 #69D9FF,
         2px -2px 0 #69D9FF,
        -2px  2px 0 #69D9FF,
         2px  2px 0 #69D9FF;
         margin-bottom: 20px;
}

.about-right {
    max-width: 550px;
}

.about-right p {
    margin-bottom: 10px;
    line-height: 1.4;
}


.skill-icons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.icon {
    width: 40px;
    filter: grayscale(100%);
    transition: 0.2s ease;
}

.icon:hover {
    filter: grayscale(0%);
    transform: scale(1.90);
}


/* Divider line */
.divider {
    width: 85%;
    height: 2px;
    background: white;
    opacity: 0.35;
    margin: 80px auto;
}


/* PROJECT SECTION */
.project-section{
  padding:80px 20px;
  background:#000000;
  text-align:center;
}

.project-sub{
  font-family:'Comic Neue', cursive;
  font-size: 80px;
  color:transparent;
  -webkit-text-stroke:2px #ffffff;
  margin-bottom: -10px;
}

.project-title{
  font-size: 80px;
  color:#69D9FF;
  font-weight:800;
  margin:-20px 0 70px;
  letter-spacing:1px;
}

.project-brief{
  max-width:800px;
  margin:0 auto;
}

.project-brief h3{
  margin-bottom:12px;
  font-weight:600;
}

.project-brief p{
  font-size:18px;
  line-height:1.6;
  color:#ffffff;
}


/* posters */
.poster-gallery {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.poster-card {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 6px;
}

.poster-img {
    width: 100%;
    transition: 0.4s ease;
}

.poster-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, #dc9a3ed5);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
    transform: translateY(40%);
    opacity: 0;
    transition: 0.4s ease;
}

.poster-card:hover .poster-overlay {
    transform: translateY(0);
    opacity: 1;
}

.poster-overlay h3 {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
}
.poster-overlay p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}

.poster-card img {
    filter: grayscale(100%);
    transition: 0.4s ease;
}

.poster-card:hover img {
    filter: grayscale(0%);
}


/* campaign posters */
.project2-section {
  background: #000000;
  text-align: center;
  padding: 70px 20px 110px;
  position: relative;
  overflow: hidden;
}

.project2-sub {
font-family:'Comic Neue', cursive;
  font-size: 80px;
  color:transparent;
  -webkit-text-stroke:2px #ffffff;
  margin-bottom: -10px;
}

.project2-title{
  font-size: 80px;
  color:#69D9FF;
  font-weight:800;
  margin:-20px 0 70px;
  letter-spacing:1px;
}

.project2-brief p{
  font-size:18px;
  line-height:1.6;
  color:#ffffff;
}

.poster-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: -20px;
  padding-top: 20px;
  overflow: visible;
}

.zoom-poster {
  width: 450px;
  border: 4px solid white;
  transition: transform 0.5s ease;
}


.left-poster {
  transform-origin: left center;
}

.center-poster {
  transform-origin: center center;
}

.right-poster {
  transform-origin: right center;
}

.zoom-poster:hover {
  transform: scale(1.3);
}


/* photography */
.project3-section {
  background: #000000;
  text-align: center;
  padding: 70px 20px 110px;
  position: relative;
  overflow: hidden;
}

.project3-sub {
font-family:'Comic Neue', cursive;
  font-size: 80px;
  color:transparent;
  -webkit-text-stroke:2px #ffffff;
  margin-bottom: -10px;
}

.project3-title{
  font-size: 80px;
  color:#69D9FF;
  font-weight:800;
  margin:-20px 0 70px;
  letter-spacing:1px;
}

.project3-brief p{
  font-size:18px;
  line-height:1.6;
  color:#ffffff;
}

.photo-scroll {
  overflow: auto;
  white-space: nowrap;
  padding: 0px 0;
  margin-top: -10px;
  background: #000000;
}

.photo-scroll::-webkit-scrollbar {
  display: none;
}

.photo-scroll img {
  height: 380px;
  padding: 4px;
  margin-right: 2px;
  border-radius: 6px;
}

.scroll-hint {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    opacity: 0.85;
}


/* arrow */
.scroll-arrow {
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}


/* CONTACT SECTION */
.contact-section {
  background: #000000;
  text-align: center;
  padding: 70px 20px 110px;
  position: relative;
  overflow: hidden;
}

.contact-sub {
font-family:'Comic Neue', cursive;
  font-size: 80px;
  color:transparent;
  -webkit-text-stroke:2px #ffffff;
  margin-bottom: -10px;
}

.contact-title{
  font-size: 80px;
  color:#69D9FF;
  font-weight:800;
  margin:-50px 0 220px;
  letter-spacing:1px;
}


.contact-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}


/* MAIN CONTACT BOX */
.contact-box {
    background: #69D9FF;
    color: black;
    padding: 10px 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    font-weight: 600;
    width: fit-content;
    transition: 0.3s ease;
}

.contact-box.small {
    padding: 10px 30px;
}

.contact-box:hover {
    background: #ffffff;
    color: black;
}

.contact-row {
    display: flex;
    gap: 150px;
}

/* Mail Icon */
.mail-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Instagram Icon */
.insta-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

/* LinkedIn Icon */
.linkedin-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.contact-illustration {
    position: absolute;
    left: 100px;
    top: 30px;
    width: 450px;
    height: auto;
    z-index: 5;
}


